* {
	font-family: "Exo 2", monospace;
}

.cover-text {
	color: white;
	text-shadow: 0 0 5px #5c5c5c;
}

.color_nav {
	color: #ECF4D6
}

.color_nav_button {
	background-color: #ECF4D6
}

.color_nav:hover {
	color: #9AD0C2
}

.color_nav:focus {
	color: #9AD0C2
}

.nav_margin {
	margin-right: 10px;
}

body {
	min-height: 100vh;
	display: grid;
	align-content: center;
	gap: 2rem;
	font-family: "Poppins", sans-serif;
	color: var(--color);
	background: var(--bgColor);
}

footer {
	background-color: #ECF4D6;
}