form {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 100%);
	color: #265073
}

body {
	background-image: url("./Immagini_sfondo/immagine_sfondo_form.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 992px) {
	form {
		max-width: 50%;
	}
}